@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Full Stack</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
        
    <script src="~/Assets/lib/requirejs/require.js"></script>


</head>
<body ng-app="fullStack" ng-controller="masterController as vm" ng-init="vm.initializeController()">

    <div class="wrapper">
        <div class="content">
           <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand"><a href="Home/Index">POD Portal</a></span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" ng-cloak>
                            <li ng-show="vm.isAuth">
                                <a href="/Search/Tickets/">Search</a>
                            </li>
                            <li ng-show="vm.isAuth && (vm.isOwner || vm.isCompanyAdmin)">
                                <a href="/Customers/CustomerMaintenance/">Customer Maintenance</a>
                            </li>
                            <li ng-show="vm.isAuth && (vm.isOwner || vm.isCompanyAdmin || vm.isCustomerAdmin)">
                                <a href="/User/UserMaintenance/">User Maintenance</a>
                            </li>
                            <li ng-show="vm.isAuth && (vm.isOwner || vm.isCompanyAdmin || vm.isCompanySearch)">
                                <a href="/Report/Report/">Reports</a>
                            </li>

                            <li class="fr" ng-show="vm.isAuth">
                                <a href="#" data-ng-click="vm.logOut()" class="logout">Log Out</a>
                            </li>
                            <li class="fr welcome" ng-show="vm.isAuth">
                                <span ng-bind-template="Welcome,  {{vm.authData.user.fullName}} ({{vm.authData.user.organizationName}})" class=""></span>
                                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            </li>
                            <li class="fr" ng-show="!vm.isAuth">
                                <a href="/Account/Login/" class="login">Log In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">

                @RenderBody()
            </div>
            <footer>
                <p class="centered">Copyright &copy; @DateTime.Now.Year Hope Construction Materials. <a href="~/Assets/Files/Terms-of-Use-Customer-Portal-25-May-2016.pdf" target="_blank">Terms & Conditions</a>
                </p>

            </footer>
        </div>

        <script src="~/Views/Shared/MasterController.js"></script>
        @*@Scripts.Render("~/bundles/shared")*@
        @*@RenderSection("scripts", required: false)*@
    </div>


</body>
</html>